.nav-top {
  width: 95vw;
  margin: 30px;
  display: flex;
  align-items: center;
}

.nav-links {
  flex: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 25%;
  padding: 30px;
}

.nav-links a {
  font-size: 24px;
  color: #825E4A;
}

/* .links-container {
  display: flex;
  align-items: flex-end;
  padding: 35px;
} */
