@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url("nav.css");

body{
  background-color: #F6EBCB;
  font-family:'Open Sans';
  line-height: 25px;
  letter-spacing: 0.5px;
  }


h1{
  color: #637E92;
  font-size: 36px;
}

h2{
  color: #825E4A;
  font-size: 28px;
  line-height: 35px;
}

a{
  color: #E0A500;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

a:hover{
  color: #FFBE0B;
}

.container{
  margin: 32px;
  margin-right: 16px;
  padding: 10px;
}

.box-shadow {
  box-shadow:10px 10px 10px #F8D34F;
}

.img-circle{
  border-radius: 30%;
}

.text-container {
  padding: 35px;
}

.text-center {
  text-align: center;
}

.card {
  width: 80vw;
  margin: 30px;
  padding: 35px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.icon-style{
  color: #637E92;
  font-size: 20px;
}

.banner-style{
  background-color:#F8D34F;
  border-radius: 10%;
}

@media (max-width: 540px){
  #button-style{
    width: 50vw;
    height: 50vh;
   background-color: gold;
   border-radius: 5px solid blue;
  }
}
