@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url("nav.css");
@import url("tabs.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: #F6EBCB; */
  background-image: url(./images/color.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Open Sans';
  line-height: 25px;
  letter-spacing: 0.5px;
  }

.container{
  margin: 32px;
  margin-right: 16px;
  padding: 10px;
  height: 70vh;
}

.extend-h{
height: 90vh;
}

.box-shadow {
  box-shadow:10px 10px 10px #F8D34F;
}

.img-circle{
  border-radius: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}


.text-container {
  padding: 35px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-center h1 {
  font-size: 28px;
}

.margin-right {
  margin-right: 3rem;
}

/* card */
.card {
  width: 80vw;
  margin: 30px;
  z-index: 2;
}

.card-2 {
  width: 20vw;
  padding: 40px;
  z-index: 2;
}

.card-small {
  margin: 25px;
  padding: 35px;
  z-index: 2;
}

.card-large {
  display: block;
  padding: 35px;
}

.container .card-large {
  display: block;
  padding: 35px 35px 10px 35px;
}

.card-flex {
  display: flex;
}

.card-center {
  justify-content: center;
  align-items: center;
}

.c-border{
  box-shadow:10px 10px 10px 10px #f9e59b;
}

.pad-sm{
  padding: 16px;
}


.text-box {
  display: flex;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.icon-style{
  color: #637E92;
  font-size: 20px;
}

.banner-style{
  background-color:#F8D34F;
  border-radius: 10%;
}

.background-banner {
  width: 100%;
  height: 70vh;
  background-image: url(./images/coffee_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

/* text style */
h1{
  color: #475560;
  /* color: #637E92; */
}

h2{
  color: #825E4A;
}

h3{
  color:black;
  font-weight: bold;
}

p{
  color: #212b336a;
}

.text-large {
  font-size: 20px;
}

/* footer */
.footer {
 background-color: #f1c111;
}

.footer h2{
  color: #637E92;
}

 /* button */
.btn-submit{
  background-color: rgba(21, 0, 255, 0.937);
  border-radius: 10%;
  padding: 10px;
}

.btn-large{
  background-color: #f1c111;
  border-radius: 10%;
  padding: 24px;
  color:#637E92;
}

.card-small a:hover{
  color: black;
}

a{
  color: #E0A500;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

a:hover{
  color: #f1c111;
}

.list-inline a:hover{
  color: black;
}


@media (max-width: 540px){
  #button-style{
    width: 50vw;
    height: 50vh;
   background-color: gold;
   border-radius: 5px solid blue;
  }
}
