.tabs{
  height: auto;
  margin-left: 40px;
}

.tabs .container-small{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.container-small{
  height: auto;
  margin: 16px;
}
